name: Build ApcCtrl-Br (All)

on:
  workflow_dispatch:

jobs:
  windows:
    uses: ./.github/workflows/build-windows.yml
    secrets: inherit

  linux:
    uses: ./.github/workflows/build-linux.yml
    secrets: inherit
